.signin{
    background-color: rgba(0, 0, 0, 0.534);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    margin: 30px;
}
.signin_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
    transform: scale(1.15);


}
.tittle{
    font-weight: 600;
    /* margin-bottom:5px ;
    margin-top: -10px; */
    margin: -10px auto 5px auto;
}
/* .logo{
    width: 100px;
    object-fit: contain;  
    margin-top: 20px;
    margin-bottom: 20px;
} */
.signin__form > form> h5{
    margin-bottom: 3px;
}    
.signin__form > form> p{
    margin-top: 15px;
    font-size: 12px;
}    
.signin__form > form> input{
    margin-bottom: 2px;
    width: 98%;
    height: 20px;
}    
.signin_btn{
    height: 25px;
    width: 100%;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    cursor: pointer;
    /* margin-top: 10px; */
}
.create_btn{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    border: 1px solid darkgray;

}