.signin{
    /* background-color: rgba(255, 255, 255, 0.534); */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1.1);

  
}
.signin_container{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid lightgrey;
    margin-top: 100px;
   box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
   background-color: white;
   border-radius: 10px;

}
.signin_container input{
    
}
.tittle{
    font-weight: 600;
    margin-bottom:20px ;
}
/* .logo{
    width: 100px;
    object-fit: contain;  
    margin-top: 20px;
    margin-bottom: 20px;
} */
.signin__form > form> h5{
    margin-top: 5px;
    font-size: medium;
}    
.signin__form > form> p{
    margin-top: 15px;
    font-size: 12px;
}    
.signin__form > form> input{
    margin-bottom: 10px;
    width: 98%;
    height: 25px;
}    
.signin_btn{
    height: 25px;
    width: 100%;
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 5px;
}
.create_btn{
    margin-top: 10px;
    width: 100%;
    height: 25px;
    border: 1px solid darkgray;

}