.image{
    
    margin-top: 10px ;
    margin-left: 50px;
    margin-right: auto;
}

.event_card{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
    display: grid;
   grid-template-columns: auto auto auto auto auto auto ;
   box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
   /* overflow: auto; */
  /* white-space: nowrap; */

}
.event_card h3{
    font-weight: 600;
    margin-top: 40px ;
    margin-right: 10px;
}
.heading{
    max-width: 70px;
}