* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }
  
  .main-container {
    padding: 30px;
  }
  
  /* HEADING */
  
  
  /* .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  } */
  
  .card1 {
    margin-top: 20px;
    margin-left: 10px;
    padding: 20px;
    width: 450px;
    min-height: 200px;
    display: grid;
    grid-template-rows: 20px 50px 1fr 50px;
    border-radius: 10px;
    /* box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);  */
    transition: all 0.2s;
  }
  
  .card1:hover {
    /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4); */
    transform: scale(1.01);
    
  }
  
  .card__link,
  .card__exit,
  .card__icon {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.793);
  }
  
  .card__link::after {
    position: absolute;
    top: 25px;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.5s;
  }
  
  .card__link:hover::after {
    width: 100%;
  }
  
  .card__exit {
    grid-row: 1/2;
    justify-self: end;
    font-weight: 700;
    font-size: 20px;
  }
  
  .card__icon {
    grid-row: 2/3;
    font-size: 17px;
    font-weight:600  ;
  }
  
  .card__title {
    margin-top: -15px;
    margin-left: auto;
    margin-right: auto;
    grid-row: 3/4;
    font-weight: 600;
    color: #2b2929bd;
  }
  
  .card__apply {
    grid-row: 4/5;
    align-self: center;
  }
  
  /* CARD BACKGROUNDS */
  
  .card-1 {
    background: radial-gradient(#ffffff, #f4f8fa);
  }
  
  .card-2 {
    background: radial-gradient(#fbc1cc, #fa99b2);
  }
  
  .card-3 {
    background-color: #64af55;
  }
  
  .card-4 {
    background: radial-gradient(#60efbc, #58d5c9);
  }
  
  .card-5 {
    background: radial-gradient(#f588d8, #c0a3e5);
  }
  
  /* RESPONSIVE */
  
  @media (max-width: 1600px) {
    .cards {
      justify-content: center;
    }
  }
  