
.nav-items{
        background-color: rgb(255, 255, 255);
       text-align: center;
        padding: 10px 0;
        align-items: center;
        display: flex;
        justify-content:space-between;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);

        
    
}
.headerLeft,.headerRight{
    display: flex;
    align-items: center;

}
.header__icon {
    width: 60px;
    cursor: pointer;
}
a{
    margin: 0 20px;
    font-size: 23px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.696);
    text-decoration: none;
    font-weight: 550;
}

a:hover {
    color: rgba(25, 28, 185, 0.637);
}

.header__search{
   margin-left: 40px ;
   margin-right: 50px ;
   display: flex;
   flex: 1;
   border: none;
}

.header__searchIcon{
   background-color: #cd9042;
   height: 22px;
   padding: 5px !important;
   color: black;
}
.header__searchInput{
   height: 14px;
   border: none;
   padding: 10px ;
   width: 100%;
}
 
