
.nav-items{
        background-color: rgba(50, 42, 42, 0.395);
       text-align: center;
        padding: 10px 0;
        align-items: center;
        display: flex;
        justify-content:space-between;
        
    
}
.headerLeft,.headerRight{
    display: flex;
    align-items: center;

}
.header__icon {
    width: 60px;
    cursor: pointer;
}
a{
    margin: 0 20px;
    font-size: 23px;
    cursor: pointer;
    color: white;
    text-decoration: none;
}

a:hover {
    color: red;
}
