.title{
    font-weight: 600;
    margin: 20px 35px;
    color: rgba(0, 0, 0, 0.671);
}   
.results{
    margin-top: 20px auto;
    display: grid;
   grid-template-columns: auto auto auto ;
   overflow-wrap: normal;
}

/* .results{
    overflow:hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
} */